mixin user-profile(props)
	-var props = props || {};
	-var name = props.name || 'John Smith';
	-var rank = props.rank || 'ux designer';
	-var photoName = props.photoName || 'Jeday';
	-var photoAlt = props.photoAlt || 'jedy photos';
	-var photoTitle = props.photoTitle || 'SEO words';
	-var link = props.link || '../404/404.html';

	//-

	.user-profile
		.user-profile__photo
			img.user-profile__avatar(src='./src/assets/images/' + photoName + '.jpg',
				alt= photoAlt,
				title= photoTitle)

		.user-profile__info
			.user-profile__title
				p.user-profile__name= name
				p.user-profile__rank= rank
			.user-profile__social
				.user-profile__social-content.user-profile__social-facebook
					a.user-profile__social-logo(href= link)
				.user-profile__social-content.user-profile__social-tweeter
					a.user-profile__social-logo(href= link)
				.user-profile__social-content.user-profile__social-dribbble
					a.user-profile__social-logo(href= link)
