//- general templates
include src/components/head/head
include src/components/chapter/chapter

//- content
include src/components/buttons/standard-buttons-container
include src/components/buttons/arrow-buttons-container
include src/components/buttons/button/button

include src/components/pie-chart-percentage/percentages-pie-container
include src/components/pie-chart-percentage/chart/chart
include src/components/pie-chart-percentage/chart-pie/chart-pie

include src/components/sliders/sliders-container
include src/components/sliders/classic-slider/classic-slider
include src/components/sliders/step-slider/step-slider

include src/components/stage/stage-container
include src/components/stage/stage/stage

include src/components/form-elements/form-elements-container
include src/components/form-elements/feed-back/feed-back
include src/components/form-elements/tick-boxes/tick-boxes
include src/components/form-elements/toggles/toggles

include src/components/search-profile/search-profile-container
include src/components/search-profile/search/search
include src/components/search-profile/drop-down/drop-down
include src/components/search-profile/user-profile/user-profile

include src/components/news-events/news-events-container
include src/components/news-events/news/news
include src/components/news-events/events/events

include src/components/location/location-container
include src/components/location/map/map

include src/components/calendar-messaging/calendar-messaging-container
include src/components/calendar-messaging/calendar/calendar
include src/components/calendar-messaging/messaging/messaging

include src/components/video/video-container
include src/components/video/video-player/video-player

//- launch content
+headList
