mixin toggles
	.toggles
		form.toggles__case
			input#switcher1.toggles__switch(
				type='checkbox',
				value='0')
			label.toggles__label(for='switcher1')
				span.toggles__status OFF

		form.toggles__case
			input#switcher2.toggles__switch(
				type='checkbox',
				value='1')
			label.toggles__label(for='switcher2')
				span.toggles__status OFF
