mixin sliders-container(props)
	-var props = props || {};
	-var titleEnabled = props.titleEnabled || 'true';
	-var title = props.title || 'sliders';
	-var classicSliderEnabled = props.classicSliderEnabled || 'true';
	-var classicSliderType = props.classicSliderType || 'classic';
	-var stepSliderEnabled = props.stepSliderEnabled || 'true';

	//-

	mixin classicEnabled
		case classicSliderEnabled
			when 'true'
				.sliders__item
					+classic-slider({type: classicSliderType})

	//-

	mixin stepEnabled
		case stepSliderEnabled
			when 'true'
				.sliders__item
					+step-slider

	//-

	case titleEnabled
		when 'true'
			section.sliders
				.sliders__title
					+chapter__title(title)
				.sliders__list
					+classicEnabled
					+stepEnabled
		default
			.sliders__list
				+classicEnabled
				+stepEnabled

//- templates for mixin
//- section.sliders
//-   .sliders__title
//-     +chapter__title('sliders')

//-   .sliders__list
//-     .sliders__item
//-       +classic-slider

//-     .sliders__item
//-       +step-slider
