mixin chart-pie
	.chart-pie
		.chart-pie__fragment.chart-pie__fragment-gray
		.chart-pie__fragment.chart-pie__fragment-red
		.chart-pie__fragment.chart-pie__fragment-green
		.chart-pie__fragment.chart-pie__fragment-empty
