mixin tick-boxes
	.tick-boxes
		form.tick-boxes__case
			input#tick1.tick-boxes__check(type='checkbox', value='1')
			label.tick-boxes__label(for='tick1')

		form.tick-boxes__case
			input#tick2.tick-boxes__check(type='checkbox', value='0')
			label.tick-boxes__label(for='tick2')
