mixin video-container(props)
	-var props = props || {};
	-var titleEnabled = props.titleEnabled || 'true';
	-var title = props.title || 'video';

	-
		var posterTitle = props.posterTitle ||
			'New Zealand Landscapes Timelapse';

		var posterDescription = props.posterDescription ||
			'from bevan percial';

		var posterLink = props.posterLink ||
			'http://vimeo.com/62980495';

		var videoSource = props.videoSource ||
			'src/assets/video/NewZealandLandscapesTimelapse.mp4';

		var videoPoster = props.videoPoster ||
			'src/assets/images/videoPoster.jpg';

	//-

	mixin video__player
		+video-player({
			title: posterTitle,
			description: posterDescription,
			link: posterLink,
			videoSrc: videoSource,
			videoImagePoster: videoPoster
		})

	//-

	section.video
		case titleEnabled
			when 'true'
				.video__title
					+chapter__title(title)
				.video__content
					+video__player
			default
				.video__content
					+video__player
