<!DOCTYPE html>
<HTML>

<HEAD> 
	<!-- SEO -->
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
	<meta name="Keywords" content="Full Stack Development, FSD, quest-1">
  	<meta name="description" content="Best of the Best company on the world for Web dev!"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, 
									maximum-scale=1.0, user-scalable=no">	

	<link rel = "shortcut icon" type = "image/x-icon" href = "images/favicon.png"> 
	<title> maket-1 </title>

	<!-- CSS's -->  
	<link rel="stylesheet" href="css/styles.css">
</HEAD>

<BODY>
	<content>
		<h1>Ошибка 404</h1>
		<h2>Ой! Случилось что то ужасное и не поправимое, мы срочно это исправим!</h2>

		<h3>
			<a href="../index.html">Вернуться на главную</a>
		</h3>
	</content>	
</BODY>
</HTML>