mixin news-events-container(props)
	-var props = props || {};
	-var title = props.title || 'news & events';
	-var titleEnabled = props.titleEnabled || 'true';

	-var newsPhotoPosterName = props.newsPhotoPosterName || 'news';
	-var newsPhotoAlt = props.newsPhotoAlt || 'best news';
	-var newsPhotoTitle = props.newsPhotoTitle || 'SEO words';
	-var newsTitle = props.newsTitle || `It's all going downhill`;
	-var newsData = props.newsData || '24 august 2013';
	-
		var newsDescription = props.newsDescription || `
		Lorem ipsum dolor sit amet,
		consectetus adipiscing elit.
		Sed condimentum aliquet
		venenatis. Etiam a nisi nunc,
		a tincidunt eros.`;

	-var eventsPhotoPosterName = props.eventsPhotoPosterName || 'events';
	-var eventsPhotoAlt = props.eventsPhotoAlt || 'active events';
	-var eventsPhotoTitle = props.eventsPhotoTitle || 'SEO words';
	-var eventsDay = props.eventsDay || '24';
	-var eventsMonth = props.eventsMonth || 'Aug';
	-var eventsTitle = props.eventsTitle || 'This is the title';
	-
		var eventsDescription = props.eventsDescription || `
		Lorem ipsum dolor sit amet,
		consectetus adipiscing elit.`;
	-var EventsButtonName = props.EventsButtonName || 'Add to calendar';

	//-

	mixin news__item
		.news-events__news
			+news({
				photoPoster: newsPhotoPosterName,
				photoAlt: newsPhotoAlt,
				photoTitle: newsPhotoTitle,
				title: newsTitle,
				data: newsData,
				description: newsDescription
			})

	//-

	mixin events__item
		.news-events__events
			+events({
				photoPoster: eventsPhotoPosterName,
				photoAlt: eventsPhotoAlt,
				photoTitle: eventsPhotoTitle,
				day: eventsDay,
				month: eventsMonth,
				title: eventsTitle,
				description: eventsDescription,
				buttonName: EventsButtonName
			})

	//-

	section.news-events
		case titleEnabled
			when 'true'
				.news-events__title
					+chapter__title(title)

				.news-events__content
					+news__item
					+events__item
			default
				.news-events__content
					+news__item
					+events__item
