mixin headList
	//- FIXME: check the path, when importing the block to other projects
	-var path = 'src/components/';

	//-

	doctype html
	html(lang='ru-RU')
		head
			//- SEO
			meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
			meta(name='Keywords', content='Full Stack Development, FSD')
			meta(name='description', content='Hardcore training')
			meta(name='viewport', content='width=device-width, \
				initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

			link(rel='shortcut icon', type='image/x-icon',
				href='src/assets/images/favicon.png')

			title  maket-2

			//- TODO: comment for WebPack
			//- CSS's - for hand build (not webPack)
			//link(rel='stylesheet', href='src/styles.css')

			//- JS - for hand build (not webPack)
			//script(src = path + 'buttons/button/RippleEffect.js' defer)
			//script(src = path + 'pie-chart-percentage/chart/chart.js' defer)

			//script(src = path + 'sliders/classic-slider/classic-slider.js' defer)
			//script(src = path + 'sliders/step-slider/step-slider.js' defer)

			//script(src = path + 'stage/stage/stage.js' defer)

			//script(src = path + 'form-elements/feed-back/feed-back.js' defer)
			//script(src = path + 'form-elements/toggles/toggles.js' defer)
			//script(src = path + 'form-elements/tick-boxes/tick-boxes.js' defer)

			//script(src = path + 'search-profile/user-profile/user-profile.js' defer)
			//script(src = path + 'search-profile/drop-down/drop-down.js' defer)

			//script(src = path + 'location/map/map.js' defer)

			//script(src = path + 'calendar-messaging/calendar/calendar.js' defer)
			//script(src = path + 'calendar-messaging/messaging/messaging.js' defer)

			//script(src = path + 'video/video-player/video-player.js' defer)

		include ../content/content
